@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

.navbar-title {
  display: flex;
  align-items: center;
}

.title-first-name {
  padding: 0 7.5px;
  font-weight: 600;
  color: #fefefe;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.title-last-name {
  font-size: 24px;
  font-weight: 400;
  color: #cacaca;
  font-family: "Raleway", sans-serif;
}

.resume-btn {
  all: unset;
  border: 1px solid #afaeae55;
  padding: 10px 20px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #eee1, transparent, #eee1);
  cursor: pointer;
  transition: 0.5s;
}

/* hover test-color: #3375e0 */
.resume-btn:hover {
  background-color: #854ce6;
  color: #040018;
  box-shadow: 0 0 50px #854ce6;
}
