@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #33e092;
  --second-primary: #854ce6;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../src/assets/noise.png");
  background-color: #18181b;
  background-size: 250px 250px;
  background-position: 0 0;
  font-family: "Poppins", sans-serif;
  cursor: url("./assets/cursor.png") auto !important;
  overflow-x: hidden;
}

.bg-primary-color {
  color: #854ce6;
}

/* Contact */

.bg-dark-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(32 32 34 / var(--tw-bg-opacity));
}
.bg-dark-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(45 46 50 / var(--tw-bg-opacity));
}
.bg-dark-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 38 42 / var(--tw-bg-opacity));
}
.bg-dark-400 {
  background-color: #0c0c0c8c;
}

/* sub title  */
.secondary-title {
  font-size: 42px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  color: #f2f3f4;
}

@media (max-width: 768px) {
  .secondary-title {
    margin-top: 12px;
    font-size: 32px;
  }
}

@font-face {
  font-family: "incognito-reg";
  src: url(../src/assets/fonts/incognito_regular.woff2) format("woff2");
}

.font-incognito-reg {
  font-family: "incognito-reg";
}

@media (min-width: 1536px) {
  .container {
    max-width: 1300px !important;
  }
}

/* SCROLL BAR  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  background: rgb(255 255 255 / 10%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #00aeff, #a68eff);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #598bbe;
}
