.pr-card {
  width: 30%;
  height: 620px;
  background-color: #171721;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: all 0.5s ease-in-out;
}
.padding {
  padding: 10px 20px;
}
.pr-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.6);
  filter: brightness(1.1);
}

.tags {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 4px;
}
.tag {
  font-size: 12px;
  font-weight: 400;
  color: rgb(133, 76, 230);
  background-color: rgba(133, 76, 230, 0.082);
  padding: 2px 8px;
  border-radius: 10px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px 2px;
}

.pr-title {
  font-size: 20px;
  font-weight: 600;
  color: #b1b2b3;
  overflow: hidden;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pr-description {
  font-weight: 400;
  color: #fff;
  overflow: hidden;
  margin-top: 8px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.pr-date {
  font-size: 12px;
  margin-left: 2px;
  font-weight: 400;
  color: #fff;
}
.members {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: -10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #171721;
}

@media only screen and (max-width: 768px) {
  .pr-date {
    font-size: 10px;
  }
}
